:root {
	--background: #5c6bc0;
	--background-soft: #8e99f3;
	--font-main: #d0d4eb;
	--white-soft: aliceblue;
	--dark-purpple: #43519e;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	font-family: sans-serif;
	font-size: 62.5%;
}

body {
	background-color: var(--background);
}

header {
	align-items: center;
	background-color: var(--background);
	display: flex;
	height: 80px;
	justify-content: space-between;
	margin: 0 auto;
	width: 90%;
}

.header__logo img {
	cursor: pointer;
	height: 40px;
	width: 120px;
}

.header__menu {
	position: relative;
}

.header__menu summary {
	background-size: cover;
	background-image: url("./menu.svg");
	cursor: pointer;
	height: 50px;
	list-style-type: none;
	width: 50px;
}

.header__menu ul {
	list-style-type: none;
	position: absolute;
	right: 0px;
	width: 80px;
}

.header__menu ul li {
	margin: 10px 0;
	text-align: right;
}

.header__menu ul li a {
	color: var(--font-main);
	font-size: 2rem;
	text-decoration: none;
}

.header__menu ul li a:hover {
	text-decoration: underline;
}

.searcher {
	background-image: url(./background-input-v2.jpg);
	background-size: cover;
	height: 240px;
	margin: 0px auto;
	width: 100%;
}

.searcher__background {
	background-color: rgba(0, 0, 0, 0.6);
	height: 240px;
}

.searcher__tittle {
	color: var(--white-soft);
	font-size: 1.8rem;
	margin: 0px auto;
	padding-top: 75px;
	position: relative;
	width: 261px;
}

.searcher input {
	background-color: var(--dark-purpple);
	background-image: url(./search-image.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 5px);
	border-color: var(--background-soft);
	border-style: solid;
	border-radius: 20px;
	border-width: 3px;
	color: var(--white-soft);
	display: block;
	font-size: 1.8rem;
	height: 40px;
	margin: 30px auto 0px;
	outline: none;
	padding-left: 10px;
	width: 85%;
}

::placeholder {
	color: var(--font-main);
}
